@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  color: #262626;
  background-color: #eaeaea;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
